*{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.page{
	position:absolute;
	width: 100%;
}

#timeAndName{
	position:absolute;
	top:290px;
	text-align: center;
	width:270px;height:157px;
	font-size: 20px;
}
/*加入boostrap变形*/
#nowTime{
	font-size: 100px;
	font-family: '微软雅黑';
	height:130px;
}

#userHeader{
	height:50px;
	width:100%;
	border-bottom:1px solid blue;
	position: relative;
}
#contain{
	position:relative;
	width:100%;
	border-bottom: 1px solid blue;
}

#sidebar{
	float:left;
	width:210px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#mainContain{
	position: relative;
	margin-left:212px;
	padding:10px;
	overflow: auto;
}
.clearFloat{
	clear: both;
	zoom: 1;
}
.sider{
	height: 50px;line-height: 50px;
	border-bottom:1px solid black;
}
.newPage{
	/*border:1px solid red;*/
}
#userInfo{
	border-bottom:1px solid blue;
	height:150px;
	text-align: center;
}
.sideOptions{
	height:50px;
	border-bottom:1px solid blue;
	text-align:center;
	line-height:50px;
}
#personPhoto{
	border:1px solid blue;
	margin-top:10px;
}


/*page1*/
#planNumber{
	position:absolute;
	top:20px;
	left:20px;
	border:1px solid blue;
	width:400px;
	height:150px;
	border-radius: 5px 5px 0 0;
}

#planNumber li{
	display: inline-block;
	margin-left:25px;
	text-align: center;
}
#planNumber span{
	display: block;
	margin-bottom:10px;
}
#planNumber button{
	width:100px;

}

#calendar{
	position:absolute;
	left:600px;
	top:20px;
	border:1px solid blue;
	width:300px;
	height:270px;
	border-radius: 5px 5px 0 0;
}

#planTable{
	position: absolute;
	top:200px;
	left:20px;
	width:500px;
	height:700px;
	border:1px solid blue;
	border-radius: 5px 5px 0 0;
}

#weather{
	position: absolute;
	top:300px;
	left:540px;
	border:1px solid green;
	border-radius: 5px 5px 5px 5px;
}
.separateP{
	display:block;
	border-bottom:1px solid blue;
}

#err404{
	margin-top: 30px;
	width:80%;
	position: absolute;
	left:50px;
	/*text-align: center;*/
}
#err404 p{
	font-size: 40px;
	margin:10px auto;
}

/*去掉下划线无效*/
a,a:link, a:visited{
	text-decoration: none;
}