*{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.page{
	border-bottom:1px solid red;
}


#page2{
	background:green;
}

#page3{
	background:yellow;
}

#fixedUl{
	position: fixed;
	left: 20px;
}

.fixedSpan{
	display: block;
	margin-top:20px;
	width:15px;
	height:15px;
	text-align:center;
	color:black;
	vertical-align: center;
	border-radius:10px;
	border:1px solid green;
	/*background:green;*/
}

.fixedSpan:hover{
	cursor: pointer;
}

#timeAndName{
	display:block;
	position:absolute;
	top:240px;
	text-align: center;
	width:270px;
	/*border:1px solid red;*/
	font-size: 20px;
}
#nowTime{
	font-size: 100px;
	font-family: '微软雅黑';
}