<div>
	<div id="page1" class="page" style="z-index:20;" ng-hide="homeShow">
		<button type="button" class="btn btn-default" ng-click="timeShow()" title="主页">
  			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		</button>
		<div id="timeAndName">
			<div id="nowTime"></div>
			<div id="nameWelcome"><?php echo "Welcome to you! ".$_SESSION['user_id']?></div>
		</div>
	</div>

	<div id="page3" class="page" ng-controller="siderClick" ng-show="homeShow">
	  
		<div id="userHeader">
			网站标签和小工具栏
			<a href="login/login.php">退出登录</a>
			<button type="button" class="btn btn-default" ng-click="timeHide()" title="显示时间">
  				<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
			</button>
		</div>
		
		<div id="contain">
			<div id="sidebar">
				<div id="userInfo">
					<img src="img/person.png" id="personPhoto"></img>
					<!-- <p><?php echo $_SESSION['user_id']?></p>
					<?php echo $_SESSION['user_IdNum']?> -->
					
				</div>
				<div ng-repeat="name in siderbarList" class="sideOptions">
					<a ui-sref=".{{name.id}}">{{name.xuhao}}</a>
				</div>
			</div>
			<div id="mainContain" ng-View>
			</div>
			<div class="clearFloat"></div>
		</div> 
	</div> 
</div>
