<div ng-controller="loginCtrl">
	<div id="login_body">
		<header id="login_center">
			<div id="login_log"><img src="img/logo.jpg" alt="logo" style="width:300px;height:100px;"/></div>
			<div id="login_left">
				<!-- <div style="height: 305px">
			    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			        <img ng-src="{{slide.image}}" style="margin:auto;">
			        <div class="carousel-caption">
			          <h4>Slide {{slide.id}}</h4>
			          <p>{{slide.text}}</p>
			        </div>
			      </uib-slide>
			    </uib-carousel> -->

			    <div style="height: 305px">
				    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				      <uib-slide ng-repeat="slide in slides " index="slide.id">
				        <img ng-src="{{slide.image}}" style="margin:auto;">
				        <div class="carousel-caption">
				          <h4>Slide {{slide.id}}</h4>
				          <p>{{slide.text}}</p>
				        </div>
				      </uib-slide>
				    </uib-carousel>
				</div>
				
			</div>
			
			<div id="login_right" ng-class="{login_L: Login.isLogin, login_R: !Login.isLogin}">
				<div id="login_tab">
					 
					<div id="login_btn" ng-click="toggleTab(true)" ng-class="{login_LAtab: !Login.isLogin, login_Lcommontab: Login.isLogin}" ui-sref=".login">用户登录</div>
		
					<div id="register_btn" ng-click="toggleTab(false)" ng-class="{login_RAtab: Login.isLogin,login_Rcommontab:!Login.isLogin}" ui-sref=".register">注册</div>

				</div>
				<div id="login_main" ui-view="login"></div>
				
			</div>
		</header>
		
		<footer id="login_bottom">
			<div id="login_foot">
				<p>二维码和其他介绍信息</p>
				<p>欢迎加入plan.com！！！</p>
				<p>友情链接：</p>
				<a href="http://www.baidu.com/">百度一下</a>
				<a href="http://www.tongji.edu.cn/">同济大学</a>
				<a href="https://github.com/wolful">fork me in github</a>
			</div>
		</footer>
	</div>
</div>
