<!-- 应该对点击次数做一个记录，然后从高到低排列 -->
<!-- 可以选择类似window大图片显示和列表显示 -->
<!-- 上传图片？ -->
<!-- 默认一行显示7个链接，可以设置为自己选择个数 -->
<!-- 要给这些元素绑定js函数，怎么做 -->

<div style="border:1px solid red;position:relative;height:80px;">
	<adaptwidth ng-repeat="name in userInfo" class="bookMarkerBlock">
		<a target="_blank" ng-href="{{name.markerUrl}}">{{name.markerName}}</a>
	</adaptwidth>
</div>

<button ng-click="addBookMarkerShow()" class="addBookMarkerBtn">+</button>

<!-- todo 提交之前要有验证 -->
<div ng-show="addDivShow" ng-controller="urlAddCtrl">
	<p>链接名称：</p>
	<p><input type="text" ng-model="urlName"></p>
	<p><input type="text" ng-model="url"></p>
	<p><button ng-click="addBookMarker()">sure</button></p>
	<p><button ng-click="hiddenBookMarker()">cancle</button></p>
	<p ng-model="InsertInfo"></p>
</div>
