<!-- 应该对点击次数做一个记录，然后从高到低排列 -->
<!-- 可以选择类似window大图片显示和列表显示 -->
<!-- 上传图片？ -->
<!-- 默认一行显示7个链接，可以设置为自己选择个数 -->
<!-- 更改设置需要更新，添加、删除书签都要更新 -->
<!-- 不同的是更改设置总个数是不变的，添加删除不一样，还需要去后台拿一次数据 -->

<div ng-show="isContainsShow">
	<div id="bmShowSetting">
		<button ng-click="addBookMarkerShow()" class="addBookMarkerBtn">+</button>
		<div class="glyphicon glyphicon-wrench"></div>
	</div>
	<bm-blocks class="bookMarkerContains" is-load="isBmLoad"></bm-blocks>
	
	<bm-items is-load="isBmLoad"></bm-items>

	<script type="text/ng-template" id="addBMModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">添加书签</h3>
        </div>
        <div class="modal-body">
	        <input type="text" ng-model="urlName" focus-change="error" focus-me="showAddBMDiv" placeholder="请输入链接名称">
			<br/>
			<span class="dataError">{{error.urlName}}&nbsp;</span>
			<p>链接地址：</p>
			<input type="text" ng-model="url" focus-change="error" placeholder="请输入链接地址" >
			<br/>
			<span class="dataError">{{error.url}}&nbsp;</span>
            
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="addBookMarker();ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

		<p ng-model="InsertInfo"></p>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open('sm')" title="添加书签">+</button>

    <p>上传结果：{{insertResult}}</p>


</div>