<div id="newPage1" class="newPage">
	<div>

		<div id="planNumber" class="">
			<p class="separateP">计划数</p>
			<ul>
				<li><span>总计划书</span><button>1</button></li>
				<li><span>今日未完成数</span><button>2</button></li>
				<li><span>今日已完成数</span><button>3</button></li>
			</ul>
		</div>

		<div id="calendar">
			<p class="separateP">日历</p>
			<div></div>
		</div>

		<div id="planTable">
			<p class="separateP">表格</p>
		</div>

		<div id="weather">
			<p class="separateP">天气状况</p>
		</div>
	</div>
</div>
