<div id="newPage1" class="newPage">
	<div>
		<div>user is : {{ user }}</div>
		<div id="planNumber" class="">
			<p class="separateP">计划数</p>
			<ul>
				<li><span>总计划数</span><button>1</button></li>
				<li><span>今日未完成数</span><button>2</button></li>
				<li><span>今日已完成数</span><button>3</button></li>
			</ul>
		</div>

		<div id="calendar">
			<p class="separateP">日历</p>
			<div></div>
		</div>

		<div id="planTable">
			<p class="separateP">表格</p>
		</div>

		<div id="weather">
			<iframe name="sinaWeatherTool"   src="http://weather.news.sina.com.cn/chajian/iframe/weatherStyle32.html?city=%E4%B8%8A%E6%B5%B7" width="166" height="146" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" style="margin-bottom:-5px;margin-top:-5px;"></iframe>
		</div>
	</div>
</div>
