<!-- 应该对点击次数做一个记录，然后从高到低排列 -->
<!-- 可以选择类似window大图片显示和列表显示 -->
<!-- 上传图片？ -->
<!-- 默认一行显示7个链接，可以设置为自己选择个数 -->
<!-- 更改设置需要更新，添加、删除书签都要更新 -->
<!-- 不同的是更改设置总个数是不变的，添加删除不一样，还需要去后台拿一次数据 -->

<div main-drag-container="dragSettings">

	<div id="bmShowSetting"  dragItem="false">
		<button type="button" class="btn btn-default" ng-click="open('sm')" title="添加书签">+</button>
        <i class="glyphicon glyphicon-trash"></i>
        <i class="glyphicon glyphicon-pencil"></i>
        <button popover-placement="bottom" uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">设置112123</button>
        <button popover-placement="bottom-right" uib-popover="On thesadfafsadfsadfsdafsfafs b-r" type="button" class="btn btn-default">Popover test b t</button>
	</div>

    <script type="text/ng-template" id="bmSettingTemplate.html">
        <div>{{dynamicPopover.content}}</div>
        <div class="form-group">
          <label>Popup Title:</label>
          <input type="text" ng-model="dynamicPopover.title" class="form-control">
        </div>
    </script>
    
    <bm-items ></bm-items>
	<bm-blocks></bm-blocks>

    <script type="text/ng-template" id="bookMarkerBlocks.html">
    	<ul class="bookMarkerContains" dragContainer>
            <li ng-repeat='block in mainBmBlocks' title='{{block.markerUrl}}' class="bookMarkerBlock col-md-2 col-xs-4" dragItem="true"><a target='_blank' ng-href="{{block.markerUrl}}">{{block.markerName}}</a></li>
        </ul>
    </script>

	<script type="text/ng-template" id="addBMModalContent.html">
        
        <div class="modal-header">
            <h3 class="modal-title">添加书签</h3>
        </div>

        <div class="modal-body bmModal0body">

            <p>链接名称：</p>
	        <input type="text" ng-model="urlName" focus-change="error" focus-me="showAddBMDiv" class="form-control" placeholder="请输入链接名称">
			<span class="dataError">{{error.urlName}}&nbsp;</span>
			<p>链接地址：</p>
			<input type="text" ng-model="url" focus-change="error" class="form-control" placeholder="请输入链接地址" >
			<br/>
			<span class="dataError">{{error.url}}&nbsp;</span>
            
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="addBookMarker()">确定</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>

		    <p ng-model="InsertInfo"></p>
        </div>

    </script>

    <!-- <p>上传结果：{{insertResult}}</p> -->

</div>